# Database Configuration
DB_HOST=data-base-src.postgres.database.azure.com
DB_PORT=5432
DB_NAME=gestion_archivos_db
DB_USER=azureuser
DB_PASSWORD=

# Azure Blob Storage
AZURE_STORAGE_ACCOUNT=bsistemariesgos
AZURE_STORAGE_KEY=
AZURE_CONTAINER_NAME=archivos-gestion-comware

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# App Configuration
NODE_ENV=development
PORT=3000
